@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: #ffa8b6;

}

.container{
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.container h1{
  font-size: 4.0rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.slider{
  width: 100%;
  overflow: hidden;
}

.slides{
  width:4000px;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out
  /* background-color: #fff; */
}

.cardSlide{
  width:100%;
  max-width:1000px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua;
  border-right: 1px solid #000; */
}


.card__header{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card__header img{
  height: 100%;
  object-fit:cover;
  border-radius: 1rem;
}
.card__body{
  width:600px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform:translateX(-1.5rem);
  padding: 40px;
  border-radius: 1rem;
  color: #fff;
  background-color:darkslateblue;
  z-index: 2;
}

.card__body h3{
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.card__body h4{
  font-size: 25px;
  margin-bottom: 10px;
}

.card__body p{
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.card__sliderTracker{
  margin:30px auto;
  padding: 30px;

}
.btnIndicator{
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin:0 2px;
  outline: none;
  border: none;
  background-color: rgba(255, 255,255, 0.7);
  transition:all .5s ease-in-out;

}
.btnIndicator:hover{
background-color: rgba(255,255, 255, 0.9)
}
.active{
  width: 45px;
  background-color: rgba(255, 255, 255, 0.9)



}